name: Github Actions Run Test
on: 
  push:
    branches:
      - main:
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: build on remote
      uses: inazrabuu/test_actions@main
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        port: ${{ secrets.PORT }}
        script: |
          ls -l\n
